.month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.month-picker .mat-calendar-arrow {
  display: none;
}

.horizontal-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-subtitle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #888;
}
