<div>
  <div class="horizontal-align-center">
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label
        ><strong>{{ 'INFLATION_RECALCULATION_DATE' | translate }}</strong></mat-label
      >
      <input
        matInput
        [matDatepicker]="dpStart"
        [formControl]="startDate"
        [min]="minStartDate"
        [max]="maxEndDate"
      />
      <mat-datepicker-toggle matSuffix [for]="dpStart"></mat-datepicker-toggle>
      <mat-datepicker
        #dpStart
        startView="multi-year"
        panelClass="month-picker"
        (yearSelected)="chosenStartYearHandler($event, dpStart)"
        (closed)="onClosed()"
      >
      </mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>
        <strong>{{ 'INFLATION_ANNUALIZED_VALUE' | translate }}</strong>
      </mat-label>
      <input matInput readonly [ngModel]="annualizedInflation" />
      <span matPrefix>%&nbsp;</span>
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>
        <strong>{{ 'INFLATION_TOTAL_VALUE' | translate }} </strong>
      </mat-label>
      <input matInput readonly [ngModel]="totalInflation" />
      <span matPrefix>%&nbsp;</span>
    </mat-form-field>
  </div>
  <div id="inflationChart"></div>
  <div class="chart-subtitle">{{ 'INFLATION_SOURSE' | translate }}</div>
</div>
