<div>
  <form #propertyAffortabilityForm="ngForm">
    <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
      <mat-label
        ><strong>{{ 'PROPERTY_AFFORTABILITY_PROPERTY_PRICE' | translate }}</strong></mat-label
      >
      <input
        name="propertyPrice"
        type="number"
        matInput
        required
        placeholder="300000"
        min="1"
        max="9999999"
        matTooltip="{{ 'PROPERTY_AFFORTABILITY_PROPERTY_PRICE_TOOLTIP' | translate }}"
        [(ngModel)]="propertyPrice"
      />
      <mat-icon
        matSuffix
        matTooltip="{{ 'PROPERTY_AFFORTABILITY_PROPERTY_PRICE_TOOLTIP' | translate }}"
        >info</mat-icon
      >
      <mat-error>{{ 'PROPERTY_AFFORTABILITY_PROPERTY_PRICE_HINT' | translate }}</mat-error>
      <span matPrefix>€&nbsp;</span>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
      <mat-label
        ><strong>{{ 'PROPERTY_AFFORTABILITY_DOWNPAYMENT' | translate }}</strong></mat-label
      >
      <input
        name="downpayment"
        type="number"
        matInput
        required
        placeholder="10000"
        min="0"
        max="9999999"
        [(ngModel)]="downpayment"
      />
      <mat-error>{{ 'PROPERTY_AFFORTABILITY_DOWNPAYMENT_HINT' | translate }}</mat-error>
      <span matPrefix>€&nbsp;</span>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
      <mat-label
        ><strong>{{ 'PROPERTY_AFFORTABILITY_CLOSING_COST' | translate }}</strong></mat-label
      >
      <input
        name="closingCost"
        type="number"
        matInput
        required
        placeholder="10"
        max="30"
        min="0"
        [(ngModel)]="closingCost"
      />
      <mat-error>{{ 'PROPERTY_AFFORTABILITY_CLOSING_COST_HINT' | translate }}</mat-error>
      <span matPrefix>%&nbsp;</span>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
      <mat-label
        ><strong>{{ 'PROPERTY_AFFORTABILITY_MONTHLY_SALARY' | translate }}</strong></mat-label
      >
      <input
        name="monthlyIncome"
        type="number"
        matInput
        required
        placeholder="3500"
        min="1"
        max="9999999"
        [(ngModel)]="monthlyIncome"
      />
      <mat-error>{{ 'PROPERTY_AFFORTABILITY_MONTHLY_SALARY_HINT' | translate }}</mat-error>
      <span matPrefix>€&nbsp;</span>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
      <mat-label
        ><strong>{{ 'PROPERTY_AFFORTABILITY_MONTHLY_RENT' | translate }}</strong></mat-label
      >
      <input
        name="monthlyRent"
        type="number"
        matInput
        required
        placeholder="1500"
        min="1"
        max="9999999"
        [(ngModel)]="monthlyRent"
      />
      <mat-error>{{ 'PROPERTY_AFFORTABILITY_MONTHLY_RENT_HINT' | translate }}</mat-error>
      <span matPrefix>€&nbsp;</span>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
      <mat-label
        ><strong>{{ 'PROPERTY_AFFORTABILITY_INTEREST_RATE' | translate }}</strong></mat-label
      >
      <input
        name="interestRate"
        type="number"
        matInput
        required
        placeholder="1.5"
        min="0.01"
        max="30"
        [(ngModel)]="interestRate"
      />
      <span matPrefix>%&nbsp;</span>
      <mat-error>{{ 'PROPERTY_AFFORTABILITY_INTEREST_RATE_HINT' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
      <mat-label
        ><strong>{{ 'PROPERTY_AFFORTABILITY_MAINTENANCE_COST' | translate }}</strong></mat-label
      >
      <input
        name="maintenanceCost"
        type="number"
        matInput
        required
        placeholder="1.5"
        min="0"
        max="10"
        [(ngModel)]="maintenanceCost"
      />
      <mat-error>{{ 'PROPERTY_AFFORTABILITY_MAINTENANCE_COST_HINT' | translate }}</mat-error>
      <span matPrefix>%&nbsp;</span>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
      <mat-label
        ><strong>{{ 'PROPERTY_AFFORTABILITY_PROPERTY_TAX' | translate }}</strong></mat-label
      >
      <input
        name="propertyTax"
        type="number"
        matInput
        required
        placeholder="1.5"
        min="0"
        max="10"
        [(ngModel)]="propertyTax"
      />
      <mat-error>{{ 'PROPERTY_AFFORTABILITY_PROPERTY_TAX_HINT' | translate }}</mat-error>
      <span matPrefix>€&nbsp;</span>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
      <mat-label
        ><strong>{{ 'PROPERTY_AFFORTABILITY_EQUATY_RETURN' | translate }}</strong></mat-label
      >
      <input
        name="historicalNominalEquityReturn"
        type="number"
        matInput
        required
        placeholder="1.5"
        min="0.01"
        max="35"
        [(ngModel)]="historicalNominalEquityReturn"
      />
      <mat-error>{{ 'PROPERTY_AFFORTABILITY_EQUATY_RETURN_HINT' | translate }}</mat-error>
      <span matPrefix>%&nbsp;</span>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
      <mat-label
        ><strong>{{ 'PROPERTY_AFFORTABILITY_PROPERTY_RETURN' | translate }}</strong></mat-label
      >
      <input
        name="historicalNominalPropertyReturn"
        type="number"
        matInput
        required
        placeholder="1.5"
        min="0.01"
        max="35"
        [(ngModel)]="historicalNominalPropertyReturn"
      />
      <span matPrefix>%&nbsp;</span>
      <mat-error>{{ 'PROPERTY_AFFORTABILITY_PROPERTY_RETURN_HINT' | translate }}</mat-error>
    </mat-form-field>

    <button
      mat-stroked-button
      color="primary"
      (click)="onCalculateMonthlyPayment()"
      [disabled]="propertyAffortabilityForm.invalid"
    >
      {{ 'PROPERTY_AFFORTABILITY_PRICE_TO_INCOME_BUTTON' | translate }}
    </button>
  </form>

  <div class="conten-margin-top">
    <div class="conten-horizontal-allocation">
      <mat-card class="content-flex outline">
        <mat-card-subtitle class="subtitle-margin">{{
          'PROPERTY_AFFORTABILITY_PROPERTY_AFFORTABILITY_BY_INCOME' | translate
        }}</mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label
              ><strong>{{
                'PROPERTY_AFFORTABILITY_PROPERTY_AFFORTABILITY_BY_INCOME_LABEL' | translate
              }}</strong></mat-label
            >
            <input matInput readonly [(ngModel)]="priceToIncomeRatio" />
            <span matPrefix>€&nbsp;</span>
          </mat-form-field>
          <ul>
            <li>
              {{ 'PROPERTY_AFFORTABILITY_PROPERTY_AFFORTABILITY_BY_INCOME_HINT_3' | translate }}
            </li>
            <li>
              {{ 'PROPERTY_AFFORTABILITY_PROPERTY_AFFORTABILITY_BY_INCOME_HINT_4' | translate }}
            </li>
            <li>
              {{ 'PROPERTY_AFFORTABILITY_PROPERTY_AFFORTABILITY_BY_INCOME_HINT_5' | translate }}
            </li>
            <li>
              {{ 'PROPERTY_AFFORTABILITY_PROPERTY_AFFORTABILITY_BY_INCOME_HINT_6' | translate }}
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
      <mat-card class="content-flex outline">
        <mat-card-subtitle class="subtitle-margin">{{
          'PROPERTY_AFFORTABILITY_PROPERTY_AFFORTABILITY_BY_RENT' | translate
        }}</mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label
              ><strong>{{
                'PROPERTY_AFFORTABILITY_PROPERTY_AFFORTABILITY_BY_RENT_LABEL' | translate
              }}</strong></mat-label
            >
            <input matInput readonly [(ngModel)]="priceToRentRatio" />
            <span matPrefix>€&nbsp;</span>
          </mat-form-field>
          <ul>
            <li>
              {{ 'PROPERTY_AFFORTABILITY_PROPERTY_AFFORTABILITY_BY_RENT_HINT_20' | translate }}
            </li>
            <li>
              {{ 'PROPERTY_AFFORTABILITY_PROPERTY_AFFORTABILITY_BY_RENT_HINT_25' | translate }}
            </li>
            <li>
              {{ 'PROPERTY_AFFORTABILITY_PROPERTY_AFFORTABILITY_BY_RENT_HINT_30' | translate }}
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="conten-horizontal-allocation">
      <mat-card class="content-flex outline">
        <mat-card-subtitle class="subtitle-margin">{{
          'PROPERTY_AFFORTABILITY_MONTHLY_PROPERTY_PRICE_WITH_ALL_COST' | translate
        }}</mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label
              ><strong>{{
                'PROPERTY_AFFORTABILITY_MONTHLY_PROPERTY_PRICE_WITH_ALL_COST_LABEL' | translate
              }}</strong></mat-label
            >
            <input matInput readonly [(ngModel)]="monthlyTotalCostOfPropertyOwnership" />
            <span matPrefix>€&nbsp;</span>
          </mat-form-field>
          <p>
            {{
              'PROPERTY_AFFORTABILITY_MONTHLY_PROPERTY_PRICE_WITH_ALL_COST_EXPLANATION_1'
                | translate
            }}
          </p>
          <p>
            {{
              'PROPERTY_AFFORTABILITY_MONTHLY_PROPERTY_PRICE_WITH_ALL_COST_EXPLANATION_2'
                | translate
            }}
          </p>
          <p>
            {{
              'PROPERTY_AFFORTABILITY_MONTHLY_PROPERTY_PRICE_WITH_ALL_COST_BREAKDOWN' | translate
            }}
          </p>
          <ul>
            <li>
              {{
                'PROPERTY_AFFORTABILITY_MONTHLY_PROPERTY_PRICE_WITH_ALL_COST_PROPERTY_TAX'
                  | translate
              }}
            </li>
            <li>
              {{
                'PROPERTY_AFFORTABILITY_MONTHLY_PROPERTY_PRICE_WITH_ALL_COST_MAINTENANCE'
                  | translate
              }}
            </li>
            <li>
              {{
                'PROPERTY_AFFORTABILITY_MONTHLY_PROPERTY_PRICE_WITH_ALL_COST_OPPORTUNITY_COST'
                  | translate
              }}
            </li>
            <li>
              {{
                'PROPERTY_AFFORTABILITY_MONTHLY_PROPERTY_PRICE_WITH_ALL_COST_CLOSING_COST'
                  | translate
              }}
            </li>
            <li>
              {{ 'PROPERTY_AFFORTABILITY_MONTHLY_PROPERTY_PRICE_WITH_ALL_COST_CREDIT' | translate }}
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
      <mat-card class="content-flex outline">
        <mat-card-subtitle class="subtitle-margin">{{
          'PROPERTY_AFFORTABILITY_PROPERTY_AFFORTABILITY_BY_30_INCOME' | translate
        }}</mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label
              ><strong>{{
                'PROPERTY_AFFORTABILITY_PROPERTY_AFFORTABILITY_BY_30_INCOME_LABEL' | translate
              }}</strong></mat-label
            >
            <input matInput readonly [(ngModel)]="monthlyMaximumTotalPayment" />
            <span matPrefix>€&nbsp;</span>
          </mat-form-field>
          <p>
            {{
              'PROPERTY_AFFORTABILITY_PROPERTY_AFFORTABILITY_BY_30_INCOME_EXPLANATION_1' | translate
            }}
          </p>
          <p>
            {{
              'PROPERTY_AFFORTABILITY_PROPERTY_AFFORTABILITY_BY_30_INCOME_EXPLANATION_2' | translate
            }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
