<div>
  <!-- <mat-form-field class="top-right" >
    <mat-select  style="width:10px" (selectionChange)="translate.use($event.value)"  [value]="translate.currentLang">
      <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">{{ lang }}</mat-option>
    </mat-select>
  </mat-form-field> -->

  <span class="top-right">
    <select #selectedLang (change)="switchLang(selectedLang.value)">
      <option
        *ngFor="let language of translate.getLangs()"
        [value]="language"
        [selected]="language === translate.currentLang"
      >
        {{ language }}
      </option>
    </select>
  </span>
</div>
<div class="wrap">
  <mat-tab-group [selectedIndex]="0">
    <mat-tab [label]="'TAB_GERMAN_MAP' | translate">
      <ng-template matTabContent>
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile rowspan="2">
            <mat-card>
              <app-countrymap></app-countrymap>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card>
              <app-additionalcost></app-additionalcost>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card>
              <app-citystatistics></app-citystatistics>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </ng-template>
    </mat-tab>
    <mat-tab [label]="'TAB_RETURN_ON_CAPITAL_BUY' | translate">
      <ng-template matTabContent>
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>
            <mat-card>
              <app-creditcost></app-creditcost>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card>
              <app-inflation></app-inflation>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card class="mat-card-content">
              <app-pricecalculator></app-pricecalculator>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card>
              <app-globalmarketreturn></app-globalmarketreturn>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </ng-template>
    </mat-tab>
    <mat-tab [label]="'TAB_RETURN_ON_CAPITAL_RENT' | translate">
      <ng-template matTabContent>
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile rowspan="2">
            <mat-card class="mat-card-content">
              <app-propertyaffordability></app-propertyaffordability>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card>
              <app-propertygrowth></app-propertygrowth>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card> </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
