.month-picker .mat-calendar-period-button {
    pointer-events: none;
  }

.month-picker .mat-calendar-arrow {
  display: none;
}

.one-row-container {
  display: flex;
}

.row
{
  margin-right: 8px;
  /* display: block;
  overflow-x: scroll;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin; */
}