<div class="main-table">
  <div>
    <mat-form-field>
      <input
        matInput
        type="text"
        (keyup)="doFilter($event.target!)"
        [placeholder]="'CITYSTATISTICS_PLACEHOLDER_FILTER' | translate"
      />
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'CITYSTATISTICS_PLACE_NAME' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="population">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'CITYSTATISTICS_POPULATION' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.population }}</td>
    </ng-container>

    <ng-container matColumnDef="area">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'CITYSTATISTICS_AREA' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.area }}</td>
    </ng-container>

    <ng-container matColumnDef="density">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'CITYSTATISTICS_DENSITY' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.density }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="rowClick(row)"
      [class.demo-row-is-clicked]="clickedRows.has(row)"
    ></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons> </mat-paginator>
</div>
