<div class="main-table">
  <table mat-table [dataSource]="statisticsData">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="population">
      <th mat-header-cell *matHeaderCellDef> Befölkerung </th>
      <td mat-cell *matCellDef="let element"> {{element.population}} </td>
    </ng-container>

    <ng-container matColumnDef="area">
      <th mat-header-cell *matHeaderCellDef> Fläche, km2 </th>
      <td mat-cell *matCellDef="let element"> {{element.area}} </td>
    </ng-container>

    <ng-container matColumnDef="density">
      <th mat-header-cell *matHeaderCellDef> Dichte, je km2 </th>
      <td mat-cell *matCellDef="let element"> {{element.density}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>