table {
  width: 100%;
}


.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  /* background-color: lightgray; */
}

.main-table {
  max-height: 42vh;
  overflow: auto;
  /* overflow-y:scroll;
  overflow-x:hidden; */
}

.mat-column-name {
  width: 40% !important;
  overflow-wrap: break-word;
}

.mat-column-population {
  width: 20% !important;
  overflow-wrap: break-word;
}

.mat-column-area {
  width: 20% !important;
  overflow-wrap: break-word;
}

.mat-column-density {
  width: 20% !important;
  overflow-wrap: break-word;
}

.demo-row-is-clicked {
  font-weight: bold;
}