<div class='split left'>
   
    <div class="legendInfo">
        <div><strong>Bundesland: </strong> <span id='federalState'></span></div>
        <div><strong>Grunderwerbsteuer: </strong> <span id='landAcquisition'></span></div>
        <div><strong>Notar- und Grundbuchkosten: </strong> <span id='notary'></span></div>
        <div><strong>Maklergebühren (Anteil Käufer)*: </strong> <span id='realtor'></span></div>
        <div><small>*Ortsbezogene Abweichungen sind möglich </small></div>
    </div>
    <div id="map" ></div>
</div>