<div class="container">
  <div class="top">
    <mat-form-field floatLabel="always">
      <mat-label
        ><strong>{{ 'COUNTRYMAP_REAL_FEDERAL_STATE' | translate }}</strong></mat-label
      >
      <input matInput [(ngModel)]="federalState" />
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <mat-label
        ><strong>{{ 'COUNTRYMAP_REAL_ESTATE_TRANSFER_TAX' | translate }}</strong></mat-label
      >
      <input matInput [(ngModel)]="landAcquisition" />
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <mat-label
        ><strong>{{ 'COUNTRYMAP_LAND_REGISTRATION_TAX' | translate }}</strong></mat-label
      >
      <input matInput [(ngModel)]="notary" />
      <mat-hint>{{ 'COUNTRYMAP_LAND_REGISTRATION_TAX_HINT_TEXT' | translate }}</mat-hint>
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <mat-label
        ><strong>{{ 'COUNTRYMAP_REAL_ESTATE_AGENT_FEE' | translate }}</strong></mat-label
      >
      <input matInput [(ngModel)]="realtor" />
      <mat-hint>{{ 'COUNTRYMAP_REAL_ESTATE_AGENT_FEE_HINT_TEXT' | translate }}</mat-hint>
    </mat-form-field>
  </div>
  <div id="mapElement" class="bottom"></div>
</div>
