<div class="container">
  <div class="top">
    <mat-form-field floatLabel="always">
      <mat-label><strong>Bundesland</strong></mat-label>
      <input matInput [(ngModel)]="federalState">
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <mat-label><strong>Grunderwerbsteuer</strong></mat-label>
      <input matInput [(ngModel)]="landAcquisition">
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <mat-label><strong>Notar- und Grundbuchkosten*</strong></mat-label>
      <input matInput [(ngModel)]="notary">
      <mat-hint>*Geschätzter Prozentsatz</mat-hint>
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <mat-label><strong>Maklergebühren (Anteil Käufer)*</strong></mat-label>
      <input matInput [(ngModel)]="realtor">
      <mat-hint>*Ortsbezogene Abweichungen sind möglich</mat-hint>
    </mat-form-field>
  </div>
  <div id="mapElement" class="bottom"></div>
</div>