.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* 100% of viewport height */
}

.top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Adjust as needed */
    margin-bottom: 25px;

}

.bottom {
    flex: 1;
    /* Take remaining available space */
    width: 100%;
}
